<h1>Create Ride</h1>
<a href="{% url "od:logout"%}">Logout</a>
<a href="{% url "od:ownerdashboard"%}">Home</a>
<br><br><br>
<form method="post">
  {% csrf_token %}
  <label for="">Enter the start date</label>
  <input type="date" name="sd" value="" required>
  <input type="time" name="st" value="" required><br><br>
  <label for="">Enter the End Date</label>
  <input type="date" name="ed" value="" required>
  <input type="time" name="et" value="" required><br><br>
  <input type="submit" name="" value="Submit">
</form>
